.img_micro {
    height: 50px;
    width: 50px;
    float: right;
}
.icon_micro {
    float: right;
    margin-right: 10px;
    font-size: 30px;
    color: #078282FF !important;
}
.div_micro_help {
    float: right;
    margin-right: 10px;
    color: #078282FF !important;
    font-weight: 900;
    padding: 4px;
    border: solid 1px lightgray;
}
.o_main_navbar > ul {
    float: right;
    display: flex;
}
.o_main_navbar > .o_menu_brand {
    float: right;
    margin-left: 35px;
    margin-right: 0px;
}
.o_main_navbar > ul.o_menu_systray {
    float: left;
    display: flex;
}

.o_main_navbar .o_user_menu {
   direction: ltr;
}